In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("TRAINING_DATA.csv")
data.head()

,eval,p,n,b,r,q,bpair,ppr0,ppr1,ppr2,...,doubled,pst,p_mob,n_mob,b_mob,r_mob,q_mob,k_mob,p_shield,turn
0,240,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,590,0,0,0,0,0,0,0,0,0,...,0,23,-1,1,5,0,4,1,-1,-1
2,270,0,0,0,0,0,0,0,0,0,...,0,26,0,1,3,0,4,1,-1,1
3,600,0,0,0,0,0,0,0,0,0,...,0,124,-2,3,3,1,1,1,-1,-1
4,500,0,0,0,0,0,0,0,0,0,...,0,112,-2,3,-2,1,1,0,-1,1

In [3]:
# we want to predict "eval" from the rest of the table
evals = data["eval"]
data = data.drop(["eval"], axis=1)
data.head()

,p,n,b,r,q,bpair,ppr0,ppr1,ppr2,ppr3,...,doubled,pst,p_mob,n_mob,b_mob,r_mob,q_mob,k_mob,p_shield,turn
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,23,-1,1,5,0,4,1,-1,-1
2,0,0,0,0,0,0,0,0,0,0,...,0,26,0,1,3,0,4,1,-1,1
3,0,0,0,0,0,0,0,0,0,0,...,0,124,-2,3,3,1,1,1,-1,-1
4,0,0,0,0,0,0,0,0,0,0,...,0,112,-2,3,-2,1,1,0,-1,1

In [8]:
# linear regression
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(data, evals)
for i, c in enumerate(model.coef_):
    print(f"{data.columns[i]}: {c}")

p: -1.049382802875698e-12
n: -6.750155989720952e-14
b: -2.842170943040401e-14
r: 2.842170943040401e-14
q: -1.4210854715202004e-14
bpair: -2.842170943040401e-14
ppr0: 0.0
ppr1: 0.0
ppr2: 0.0
ppr3: 0.0
ppr4: 0.0
ppr5: 0.0
ppr6: 0.0
ppr7: 0.0
isolated: 0.0
doubled: 0.0
pst: 3.490249246368314
p_mob: -97.18170184143389
n_mob: -91.15589664420853
b_mob: 61.600518091922446
r_mob: -41.78161334862305
q_mob: -10.034254897414034
k_mob: -116.4849996346993
p_shield: 7.592669946962466
turn: 12.883778338611645