In [12]:
import pandas as pd

In [13]:
data = pd.read_csv("TRAINING_DATA.csv")
data.head()

,eval,p,n,b,r,q,bpair,ppr0,ppr1,ppr2,...,doubled,pst,p_mob,n_mob,b_mob,r_mob,q_mob,k_mob,p_shield,turn
0,-100,0,0,0,0,0,0,0,0,0,...,0,23,-1,1,5,0,4,1,-1,-1
1,560,0,0,0,0,0,0,0,0,0,...,0,8,0,0,0,0,0,0,0,1
2,100,0,0,0,0,0,0,0,0,0,...,0,-41,3,0,-1,0,1,-1,0,-1
3,750,0,0,0,0,0,0,0,0,0,...,0,-20,0,2,0,0,0,0,0,1
4,550,0,0,0,0,0,0,0,0,0,...,0,-110,-1,-5,4,-2,1,0,0,1

In [14]:
data.describe()

,eval,p,n,b,r,q,bpair,ppr0,ppr1,ppr2,...,doubled,pst,p_mob,n_mob,b_mob,r_mob,q_mob,k_mob,p_shield,turn
count,1.303769e+06,1.303769e+06,1.303769e+06,1.303769e+06,1.303769e+06,1.303769e+06,1.303769e+06,1303769.0,1.303769e+06,1.303769e+06,...,1.303769e+06,1.303769e+06,1.303769e+06,1.303769e+06,1.303769e+06,1.303769e+06,1.303769e+06,1.303769e+06,1.303769e+06,1.303769e+06
mean,3.064911e+02,2.766594e-03,-1.628739e-02,6.252641e-03,8.881942e-03,3.922474e-03,4.579799e-03,0.0,4.624439e-02,1.122745e-02,...,-1.187020e-02,2.556160e+00,5.165946e-02,-1.005623e-02,8.795040e-02,2.851556e-01,2.337883e-01,5.340056e-02,-1.618615e-02,2.616338e-02
std,3.861678e+03,1.093790e+00,6.331537e-01,6.343808e-01,4.279209e-01,1.779684e-01,3.094051e-01,0.0,2.923116e-01,3.111404e-01,...,3.730312e-01,6.195909e+01,2.078130e+00,3.994210e+00,5.169435e+00,5.610425e+00,4.137252e+00,2.002561e+00,9.711712e-01,9.996581e-01
min,-1.500000e+04,-6.000000e+00,-2.000000e+00,-2.000000e+00,-2.000000e+00,-2.000000e+00,-1.000000e+00,0.0,-2.000000e+00,-4.000000e+00,...,-3.000000e+00,-4.130000e+02,-1.800000e+01,-1.600000e+01,-2.400000e+01,-2.800000e+01,-4.600000e+01,-8.000000e+00,-3.000000e+00,-1.000000e+00
25%,-8.700000e+02,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,...,0.000000e+00,-3.500000e+01,-1.000000e+00,-2.000000e+00,-2.000000e+00,-2.000000e+00,0.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,...,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
75%,1.530000e+03,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,...,0.000000e+00,3.900000e+01,1.000000e+00,2.000000e+00,3.000000e+00,3.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
max,1.500000e+04,6.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.000000e+00,0.0,5.000000e+00,4.000000e+00,...,3.000000e+00,4.370000e+02,1.700000e+01,1.600000e+01,2.600000e+01,2.800000e+01,4.200000e+01,8.000000e+00,3.000000e+00,1.000000e+00

In [15]:
# we want to predict "eval" from the rest of the table
evals = data["eval"]
data = data.drop(["eval"], axis=1)
data = data.drop(["turn"], axis=1)
data.head()

,p,n,b,r,q,bpair,ppr0,ppr1,ppr2,ppr3,...,isolated,doubled,pst,p_mob,n_mob,b_mob,r_mob,q_mob,k_mob,p_shield
0,0,0,0,0,0,0,0,0,0,0,...,0,0,23,-1,1,5,0,4,1,-1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,8,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,-41,3,0,-1,0,1,-1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,-20,0,2,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,-110,-1,-5,4,-2,1,0,0

In [16]:
# shuffle the data
data = data.sample(frac=1).reset_index(drop=True)

In [22]:
# get average values for each column
avg = data.mean()

# divide each column by the average
data = data.divide(avg)
data.head()

,p,n,b,r,q,bpair,ppr0,ppr1,ppr2,ppr3,...,isolated,doubled,pst,p_mob,n_mob,b_mob,r_mob,q_mob,k_mob,p_shield
0,722.910452,-0.0,0.0,0.0,0.000000,0.0,NaN,0.0,0.0,94.723118,...,177.794763,-0.000000,8.997872,116.145237,198.881702,0.000000,10.520573,25.664239,-56.179182,-123.562432
1,-361.455226,-0.0,0.0,0.0,254.941142,0.0,NaN,0.0,0.0,0.000000,...,0.000000,-0.000000,-25.819981,-77.430158,-0.000000,-45.480182,14.027430,59.883224,0.000000,-0.000000
2,-361.455226,-0.0,0.0,0.0,0.000000,0.0,NaN,0.0,0.0,0.000000,...,88.897382,-0.000000,0.000000,-19.357539,-0.000000,0.000000,10.520573,0.000000,18.726394,-0.000000
3,0.000000,-0.0,0.0,0.0,0.000000,0.0,NaN,0.0,0.0,-94.723118,...,0.000000,-84.244572,-19.560592,-38.715079,-0.000000,0.000000,-10.520573,0.000000,-56.179182,-61.781216
4,361.455226,-0.0,0.0,0.0,0.000000,0.0,NaN,0.0,0.0,0.000000,...,-88.897382,-0.000000,-0.782424,58.072618,-0.000000,45.480182,-10.520573,12.832119,-56.179182,-61.781216

In [23]:
# linear regression
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(data, evals)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [19]:
pawnval = 1500
for i, c in enumerate(model.coef_):
    if i == 0: pawnval = c
    print(f"{data.columns[i]}: {c / pawnval * 1000}")

p: 1000.0
n: 10813.011410682639
b: 2922.118023399314
r: 5026.2437190502515
q: 16733.44135948161
bpair: -3699.4428971483817
ppr0: -2.5585175842194124e-11
ppr1: -2160.63863779243
ppr2: 3090.4513137159747
ppr3: 2385.1904360658978
ppr4: 1581.9475864903889
ppr5: 1640.5528587675608
ppr6: 321.19721302499323
ppr7: 0.0
isolated: -833.1615396475887
doubled: -3857.6907670876694
pst: 22.735162381377002
p_mob: -357.33895996938617
n_mob: -979.9273306426583
b_mob: 325.2957542984761
r_mob: 139.72468555066453
q_mob: -549.6787331319117
k_mob: -1323.666823470776
p_shield: -948.631353486483

In [20]:
print("model accuracy:", model.score(data, evals))

model accuracy: 8.88658079867266e-06